
body {
  margin: 0px;
  padding: 0px;
  font-family: Trebuchet MS;
  text-align: justify;
  background-image:url(Images/Farmer_in_Vietnam.jpg);
  background-repeat:no-repeat;
  background-size:100%;
  background-position:50% 15%;
} 

header{
  background: rgba(110,110,110,0.8);
  border-bottom : 5px solid rgb(0,50,100); 
}

#ligne0{
  padding:10px;
}

content{
  padding-bottom: 20px;
}

#ligne{
  padding:5px;
}

h1{
  margin:0px;
  color: white; 
  font-weight: 100;
  text-align:center;
  border: 2px white solid;
  border-radius: 30px 0px 30px 0px;
  padding:8px;
  display: inline;
  background-color: rgba(0,50,100,0.5); 
}

#titre_principal{
  width: 100%;
  text-align: center;
}

nav{
  
  display: inline;
  background-color: white;
  border: 1px rgb(0,50,100) solid;
  border-radius: 0px 0px 10px 0px;
}

A.lien1 {
  margin: 2px;
  text-decoration:none; 
  color: black;
  font-weight: bold;
}

#intro{
  margin: 30px;
  padding: 20px;
  width: 75%;
  margin-left:auto;
  margin-right:auto;
  background-color: rgba(0,50,100,0.8);
  color: white;
  border: 2px rgb(0,50,100) solid;
  border-radius: 30px 30px 0px 0px;
}

#wrap {
  width: 100%;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

#ressource {
  padding: 36px;
  width:33%;
  background-color: rgba(250,230,70, 0.8);
  border: 1px grey solid;
  border-radius: 0px 0px 0px 20px;
  display: inline;
}

#collab {
  padding: 36px;
  width:33%;
  background-color: rgba(50,180,50, 0.8);
  border: 1px grey solid;
  border-radius: 0px 0px 0px 0px;
  display: inline;
}

#synthese {
  padding: 36px;
  width:33%;
  background-color: rgba(230,80,30, 0.8);
  border: 1px grey solid;
  border-radius: 0px 0px 20px 0px;
  display: inline;
}

A.lien2 {
  text-decoration:none;
  color: black;
  font-weight: bold;
  font-size: 30px;
}

#ligne2{
  padding:10px;
}


footer{
margin: 5px;
padding: 5px;
height: 20px;
position:absolute;
bottom:0;
right:0;
background-color: rgba(255,255,255,0.2);
color: rgb(0,50,100);
border: 1px rgb(0,50,100) solid;
border-radius: 10px 0px 10px 0px;
display: inline;
}